body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
}
.container-fluid{
  margin-top: 40px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  background-color: #292b2d!important;
}

p{
  color: white;
}

.text-center {
  color: white;
}

.fa-lg {
  color: white;
}

.fa-lg:hover {
  color: #ff3838;
  transition-duration: .5s;
  text-decoration: none;
}

.link-footer{
  color: #ff3838;
}

.link-footer:hover{
  color: white;
  transition-duration: .5s;
  text-decoration: none;
}

.bg-dark {
  background-color:#292b2d !important;
  border-bottom: 3px solid #262829;
}
.card-pricing.popular {
  z-index: 1;
  border: 3px solid #ff3838;
}
.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #292b2d;
}
.btn-primary {
  color: #fff;
  background-color: #ff3838;
  border-color: #ff3838;
}
.btn-primary:hover {
  color: #fff;
  background-color: #292b2d;
  border-color: #292b2d;
}
.text-primary {
  color: #ff3838!important;
}
.bg-primary {
  background-color: #ff3838!important;
}
.carousel {
  margin-top: 23px;
}